body {
    background-color: black;
    color: goldenrod;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.project {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    width: calc(130% /3);
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type:"⚽" ;
}

.done {
    text-decoration: line-through;
}

.collection{
    display: flex;
    justify-content: space-between;
}
.span {
    color:red
}