body {

  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: goldenrod;
  background-color: black;
  
}
.App {
  border: 2px solid grey;
  margin: 50px auto;
  padding: 25px 15px;
  width: calc(100% / 2);
  font-size: 30px;
  text-align: center;
 
}
ul {
  list-style-type: "⚽";
  cursor: pointer;
  color: white;
}



.to-do-contianer input {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 25px;
  margin: 0 auto;
  background-color: rgb(31, 30, 30);
  color: whitesmoke;
  text-align: center;
  font-size: 20px;

}

.to-do-contianer button {
  width: 258px;
  height: 30px;
  background-color: brown;
  color: rgb(55, 255, 0);
  font-size: 20px;
}

.done {
  text-decoration: line-through;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.haneen {
  color: red;
  font-weight: 900;
  cursor: pointer;
}